<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>Notícia</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<h1>Notícia</h1>

			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Título</th>
						<th>Notícia</th>
					</tr>
				</thead>
				<tbody>					
					<tr>
						<td scope="row"><%= noticia[0].id_noticia %></td>
						<td><%= noticia[0].titulo %></td>
						<td><%= noticia[0].noticia %></td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>